@import "/styles/variables.scss";

.seccion {
    border-radius: 12px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid $gray-800;
    background-color: $gray-900;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1000;

}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.back {
    justify-content: end;
    display: flex;

    & button {
        position: fixed;
        top: -20%;
        right: -10%;
        border: none;
        color: #e62e1b;
        font-size: 45px;
        text-align: right;
        cursor: pointer;
        font-weight: bolder;
        background-color: transparent;
        z-index: 9999;
    }

}